* {
    font-family: 'Roboto', sans-serif;
}

.website-details {
    margin: 20px;
    padding-top: 50px;
}

.website-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.input-container {
    margin-bottom: 20px;
}

.url-input {
    width: 300px;
    padding: 5px;
}

.add-button {
    background-color: #2196F3;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.add-button:hover {
    background-color: #0056b3;
}

.associated-urls {
    margin-top: 20px;
    padding-top: 15px;
}

.url-list {
    list-style-type: none;
    padding: 0;
}

.url-item {
    display: flex;
    justify-content: space-between;
    
}

.url-item span {
    flex: 1;
}

.url-item:first-child span {
  margin-bottom: 5px;
  font-weight: bold;
}

.invis-button {
    visibility: hidden;
}

h3 {
    padding-bottom: 15px;
}

.delete {
    background-color: #F44336;
}

.delete:hover {
    background-color: #D32F2F;
}

.url-item span {
    display: flex;
    align-items: center;
}

.url-list li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.url-list li:last-child {
    border: none;
}

