* {
    font-family: 'Roboto', sans-serif;
}

.website-details {
    margin: 20px;
    padding-top: 50px;
}

.website-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.input-container {
    margin-bottom: 20px;
}

.url-input {
    width: 300px;
    padding: 5px;
}

.add-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px; /* Adicionando margem no topo do botão */
}

.add-button:hover {
    background-color: #0056b3;
}

.associated-urls {
    margin-top: 20px;
    padding-top: 15px;
}

.url-list {
    list-style-type: none;
    padding: 0;
}

.url-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    
}

.url-item span {
    flex: 1;
}

.url-item:first-child span {
  margin-bottom: 5px;
  font-weight: bold;
}

.goback {
  border-color: black;
  border: solid;
}

.invis-button {
    visibility: hidden;
}

h3 {
    padding-bottom: 15px;
}