<div *ngIf="selectedUrlPagina" class="website-acess">
    <h3>{{selectedUrlPagina!.link}}</h3>
  
    <ul class="stats-list">
      <li>Total e percentagem de testes passados
        <span class="stat-value">{{passed}} ({{passed / total! * 100}}%)</span>
      </li>
      <li>Total e percentagem de testes com aviso
        <span class="stat-value">{{warned}} ({{warned / total * 100}}%)</span>
      </li>
      <li>Total e percentagem de testes falhados
        <span class="stat-value">{{failed}} ({{failed / total * 100}}%)</span>
      </li>
      <li>Total e percentagem de testes não aplicáveis
        <span class="stat-value">{{inaplicable}} ({{inaplicable / total * 100}}%)</span>
      </li>
    </ul>
  
    <div class="filter-container">
        <label for="filter-option">Filtrar por:</label>
        <mat-select id="filter-option" [(ngModel)]="filterOption" (change)="applyFilter()">
            <mat-option value="tipo">Tipo de Teste</mat-option>
            <mat-option value="conformidade">Conformidade</mat-option>
            <mat-option value="resultado">Resultado</mat-option>
        </mat-select>
    </div>
    
    <div *ngIf="filterOption === 'tipo'" class="sub-filter-container">
        <label for="test-type">Tipo de Teste:</label>
        <mat-select id="test-type" [(ngModel)]="testType" (change)="applyFilter()">
            <mat-option value="regra">Regra ACT</mat-option>
            <mat-option value="tecnica">Técnica WCAG</mat-option>
        </mat-select>
    </div>
    
    <div *ngIf="filterOption === 'conformidade'" class="sub-filter-container">
        <label for="compliance-level">Nível de Conformidade:</label>
        <mat-select id="compliance-level" [(ngModel)]="complianceLevel" (change)="applyFilter()">
            <mat-option value="A">A</mat-option>
            <mat-option value="AA">AA</mat-option>
            <mat-option value="AAA">AAA</mat-option>
            <mat-option value="none">none</mat-option>
        </mat-select>
    </div>
    
    <div *ngIf="filterOption === 'resultado'" class="sub-filter-container">
        <label for="test-result">Resultado do Teste:</label>
        <mat-select id="test-result" [(ngModel)]="testResult" (change)="applyFilter()">
            <mat-option value="passado">Passado</mat-option>
            <mat-option value="aviso">Aviso</mat-option>
            <mat-option value="falhado">Falhado</mat-option>
            <mat-option value="nao_aplicavel">Não Aplicável</mat-option>
        </mat-select>
    </div>

    <h4>Lista de testes realizados:</h4>

    <div class="rules-list-container">
        
        <ul class="rules-list">
            <li *ngFor="let rule of rules" class="rule-item">
                <span class="rule-name">{{rule.ruleName}}</span>
                <span class="rule-failed">{{rule.failed}}</span>
                <span class="rule-outcome">{{rule.outcome}}</span>
                <span class="rule-name">{{rule.ruleLevel}}</span>
                <span class="rule-name">{{rule.ruleType}}</span>

            </li>
        </ul>
    </div>
</div>
