* {
    font-family: 'Roboto', sans-serif;
}

.web-body {
    padding: 20px;
    margin: 10px;
    padding-bottom: 40px;
}

.website-list {
    list-style-type: none;
    padding: 0;
}

.website-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.website-item .website-link {
    display: flex;
    justify-content: space-between;
}

.website-list li:first-child {
    font-weight: bold;
}

.website-list li:last-child {
    border-bottom: none;
}

.website-list span {
    flex: 1;
    padding: 0 10px;
}

.input-container {
    margin-bottom: 20px;
}

.url-input {
    width: 300px;
    padding: 5px;
}

.add-button {
    background-color: #2196F3;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #0056b3;
}

.associated-urls {
    margin-top: 20px;
}

.website-list {
    list-style-type: none;
    padding: 0;
}

.website-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.website-item:first-child span{
    margin-bottom: 10px;
}

.website-item span {
    flex: 1;
}

.invis-button {
    visibility: hidden;
}

.options-container {
    display: grid;
    grid-template-columns: 1fr 9fr;
}

.options-container label {
    padding-right: 15px;
    min-width: 100px;
}

.aval-section {
    display: block;
    padding-bottom: 20px;
}

.input-container {
    padding-top: 20px;
}

.init-button {
    display: inline;
    margin-left: 10px;
}

.aval-button {
    background-color: #2196F3;
}

.aval-button:hover {
    background-color: #0056b3;
}

.goback {
    border-color: #222;
    border: solid;
}