<h1>List of websites</h1>

<div class="options-container">
    <label for="sorting-option">Sort by:</label>
    <select id="sorting-option" [(ngModel)]="sortingOption" (change)="applyFilterAndSort()">
      <option value="data_registo">Registration Date</option>
      <option value="ultima_aval">Last Evaluation Date</option>
    </select>
  
  </div>
  


<ul class="website-list">
    <li class="website-item">
        <span>Link</span>
        <span>Data Registo</span>
        <span>Última Avaliação</span>
        <span>Estado</span>
    </li>
    <li *ngFor="let website of websites" class="website-item">
            <span><a routerLink="/detail/{{ website._id }}" class="website-link">{{ website?.url?.link }}</a></span>
            <span>{{ website?.data_registo | date: 'dd/MM/yyyy' }}</span>
            <span>
                {{ website?.url?.ultima_aval ? (website.url.ultima_aval | date: 'dd/MM/yyyy') : 'não foi avaliado' }}
            </span>
            <span>{{ website?.estado }}</span>
            <button type="button" class="delete" title="delete hero"
            (click)="delete(website)">x</button>
    </li>
</ul>

<div class="input-container">
    <label for="new-website">Website url:</label>
    <input id="new-website" #websiteUrl class="url-input" />
</div>

<button type="button" class="add-button" 
        (click)="isValidUrl(websiteUrl.value) ? add(websiteUrl.value) : notValid(); websiteUrl.value=''">
    Add website
</button>
