<h1>List of websites</h1>
<ul class="websites">
    <li *ngFor="let website of websites" (click)="onSelected(website)">
        <span>{{website.id}}</span> {{website.url}}
    </li>
</ul>

<div>
    <label for="new-website">Website url: </label>
    <input id="new-website" #websiteUrl />

    <button type="button" class="add-button" (click)="add(websiteUrl.value); websiteUrl.value=''">
        Add website
    </button>
</div>


<app-website-detail [website]="selectedWebsite"></app-website-detail>