<div class="web-body">
    <h1>Lista de websites</h1>

<div class="options-container">
    <label for="sorting-option">Ordenar por:</label>
    <mat-select id="sorting-option" [(ngModel)]="sortingOption" (change)="applyFilterAndSort()">
      <mat-option value="data_registo">Data de Registo</mat-option>
      <mat-option value="ultima_aval">Data da Última Avaliação</mat-option>
    </mat-select>
</div>
  


<ul class="website-list">
    <li class="website-item">
        <span>Link</span>
        <span>Data Registo</span>
        <span>Última Avaliação</span>
        <span>Estado</span>
        <button mat-button class="invis-button"></button>
    </li>
    <li *ngFor="let website of websites" class="website-item">
        <div *ngIf="mostrarChecks">
            <input type="checkbox" (change)="toggleSelection(website)">
        </div>
            <span><a (click)="onSelected(website)" class="website-link">{{ website?.url?.link }}</a></span>
            <span>{{ website?.data_registo | date: 'dd/MM/yyyy' }}</span>
            <span>
                {{ website?.url?.ultima_aval ? (website.url.ultima_aval | date: 'dd/MM/yyyy') : 'não foi avaliado' }}
            </span>
            <span>{{ website?.estado }}</span>
            <button mat-button class="delete" title="delete"
            (click)="delete(website)">X</button>
    </li>
</ul>

<div class="aval-section">
    <button mat-button class="select-button" (click)="mostrarCheckboxes()">Selecionar Sites</button>
    <div *ngIf="mostrarChecks" class="aval-button-div">
    <button mat-button (click)="iniciarAvaliacao(selectedWebsites)">Iniciar Avaliação</button>
</div>
</div>

<div class="input-container">
    <label for="new-website">Website url:</label>
    <input id="new-website" #websiteUrl class="url-input" />
</div>

<button mat-button class="add-button" 
        (click)="isValidUrl(websiteUrl.value) ? add(websiteUrl.value) : notValid(); websiteUrl.value=''">
    Adicionar website
</button>

<div *ngIf="selectedWebsite" class="website-details">
    
    <app-website-detail [website]="selectedWebsite"></app-website-detail>
    <button mat-button class="goback" (click)="goBack()">Fechar detalhes</button>
</div>

</div>